.App {
  font-family: sans-serif;
  text-align: center;
}
.blog-preview {
  text-align: left;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px;
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.navbar h1 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 8px;
}

.navbar-links {
  list-style: none;
  padding-top: 25px;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.navbar-links li {
  padding: 10px 16px;
  padding-top: 25px;
}

.navbar-links a {
  text-decoration: none;
  font-size: 18px;
  color: #f1356d;
}
